<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
   <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  
  <title>Job Scrapper</title>
</head>
<body>
  <div class="background">
    <main class="container">
      <h1 class="site-title">
        <a href="#tags" class="main-title">
          Job Scrapper
          <br>
          <i class="bi bi-search"></i>
          <i class="bi bi-chevron-double-right"></i>
          <i class="bi bi-fire"></i>
        </a>
      </h1>
      <form action="/search">
        <div class="inline-search">
          <div class="search-form">
            <label for="formGroupExampleInput" class="form-label">
              Search a job, catch your dream!
            </label>
            <input type="text" name="term" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
        </div>
      </form>
      <div class="popular-tags" id="tags">
        <span class="most-searched">Most Searched Tags: </span>
        <div class="tag-btn">
          <a href="/search?term=python" class="short-cut">
            <img src="/static/img/python.png" height="35" width="35"/>    
          </a>
          <a href="/search?term=javascript" class="short-cut">
            <img src="/static/img/js.png" height="35" width="35"/>    
          </a>
          <a href="/search?term=react" class="short-cut">
            <img src="/static/img/react.png" height="35" width="35"/>    
          </a>
          <a href="/search?term=flutter" class="short-cut">
            <img src="/static/img/flutter.png" height="35" width="35"/>   
          </a>
        </div>
      </div>
    </main>
    <footer id="footer">
      <div class="footer-container">
        
        <span class="powered-by">
          Powered by: <br>
          <div>
            <img src="/static/img/python.png" height="32" width="32"/> 
            <img src="/static/img/flask.png" height="32" width="32"/> 
            <img src="/static/img/html.png" height="32" width="32"/> 
            <img src="/static/img/css.png" height="32" width="32"/> 
            <img src="/static/img/bootstrap.png" height="32" width="32"/> 
          </div>
        </span>
        
        <span class="searching-from">
          Searching From: <br>
          <div>
            <img src="/static/img/indeed.png" height="32" width="48"/>
            <img src="/static/img/wwr.png" height="32" width="48"/>
            <img src="/static/img/rmok.png" height="32" width="48"/>
          </div>
        </span>
        
        <span>
          <div>
            Please use in tablet or bigger device!<br>
            - Mobile device is not supported -
          </div>
        </span>
        
      </div>
    </footer>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>